<?xml version="1.0"?>
<configuration>
  
  <connectionStrings>
    <add name="MyConnection" connectionString="data source=MATT-ULTRABOOK\SQLEXPRESS;Integrated Security=SSPI;Database=bgc_fleetmgr" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="DatabaseName" value="bgc_fleetmgr"/>
    
   <!-- Comma seperate the backup directories -->
    <add key="BackupDirectories" value="C:\Temp,C:\Temp\a,C:\Temp\b"/>
  </appSettings>

</configuration>
