<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  
  <connectionStrings>
    <add name="MyConnection" connectionString="" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="DatabaseName" value=""/>
    <add key="BackupDirectory" value=""/>
  </appSettings>
</configuration>
